/* Basic Color Palette */
.bg-blue {
    background-color: #2b2d42;
}

.bg-orange {
    background-color: #ff7b63;
}

.bg-pink{
    background-color: rgb(255,148,197);
}

.bg-grey {
    background-color: #a7a0a2;
}

.bg-light{
    background-color: #f4f4f4;
}

.bg-green {
    background-color: #22c6c6;
}

.txt-blue {
    color: #2b2d42;
}

.txt-orange {
    color: #ff7b63;
}

.txt-pink{
    color: rgb(255,148,197);
}

.txt-grey {
    color: #a7a0a2;
}

.txt-green {
    color: #22c6c6;
}

.bg-gradient1{
    background: rgb(255,123,99);
    background: -moz-linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    background: linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff94c5",endColorstr="#ff7b63",GradientType=1);}

.bg-gradient2{
    background: rgb(34,198,198);
    background: -moz-linear-gradient(90deg, rgba(34,198,198,1) 0%, rgba(150,102,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(34,198,198,1) 0%, rgba(150,102,255,1) 100%);
    background: linear-gradient(90deg, rgba(34,198,198,1) 0%, rgba(150,102,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c6c6",endColorstr="#9666ff",GradientType=1);
}

body {
    font-family: "Calibri Light";
}

.padding_50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding_100_50{
    padding-top: 100px;
    padding-bottom: 50px;
}

.margin_100{
    margin-top: 100px;
}


h1{
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hr{
    width: 150px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 30px;
    border-top: 2px solid #ff7b63;
}

.vl{
    border-left: 2px solid #ff7b63;
    height: 75px;
    margin-left: 50%; 
    margin-top: 30px;
}

p{
    text-align: center;
}

#prBtn .btn{
    border: 2px solid black;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
#prBtn .btn:hover{
    border: transparent;
    background: rgb(255,123,99);
    background: -moz-linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    background: linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff94c5",endColorstr="#ff7b63",GradientType=1);
    color: white;
}
   
#features{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white; 
    margin: auto;
}

#features i{
    padding-top: 40%;
    font-size: 25px;
}

/* Singin CSS */

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.bg-sign{
    background-image: url("../img/hotel6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
  
@media (min-width: 1025px) {
    .h-custom-2 {
      height: 100vh;
    }
}

.pr .btn{
    border: transparent;
    background: rgb(255,123,99);
    background: -moz-linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    background: linear-gradient(90deg, rgba(255,148,197,1) 0%, rgba(255,123,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff94c5",endColorstr="#ff7b63",GradientType=1);
    color: white;
}

.pr .btn:hover{
    border: transparent;
    /* background: rgb(255,123,99);
    background: -moz-linear-gradient(90deg, rgba(255,123,99,1) 0%, rgba(255,148,197,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,99,1) 0%, rgba(255,148,197,1) 100%);
    background: linear-gradient(90deg, rgba(255,123,99,1) 0%, rgba(255,148,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff94c5",endColorstr="#ff7b63",GradientType=1); */
	background: rgb(255,123,99);
    background: -moz-linear-gradient(90deg, rgba(255,148,197,0.8) 0%, rgba(255,123,99,0.8) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,148,197,0.8) 0%, rgba(255,123,99,0.8) 100%);
    background: linear-gradient(90deg, rgba(255,148,197,0.8) 0%, rgba(255,123,99,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff94c5",endColorstr="#ff7b63",GradientType=1);
}


